<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    <a href="/xem"> Xem danh sách nhân viên </a> <br>
    <a href="/them"> Thêm nhân viên mới </a> <br>
    <a href="/sua"> Sửa thông tin nhân viên đã có </a> <br>
    <a href="/xoa"> Xóa nhân viên đã có </a> <br>
</body>
</html>