<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xóa nhân viên</title>
</head>
<body>
    <form method="post" action="/xoa" >
        Tên nv cần xóa <input type="text" name="txtTen"> <br>
        <button type="submit">Xóa</button>
        <br> <hr>
        <a href="/"> Quay về trang chủ </a>
    </form>
</body>
</html>