                <% include header.ejs %> <!--gọi file header.ejs để lưu-->
                <!-- Page content-->
                <div class="container-fluid">
                    <form action="/them" method="post">
                        Tên hàng hóa mới: <input required class="form-control" type="text" name="txtTen"> <br>
                        Giá hàng hóa mới <input required class="form-control" required min="0" type="number" name="txtGia"> <br>
                        <button class="btn btn-primary" type="submit">Thêm</button>
                        <br> <hr>
                        <a href="/"> Quay về trang chủ </a>
                    </form>
                </div>
            <% include footer.ejs %>
