<% include header.ejs %>
                <!-- Page content-->
                <div class="container-fluid">
                    <form method="post" action="/xoa" >
                        Tên hàng hóa cần xóa <input required class="form-control" type="text" name="txtTen"> <br>
                        <button class="btn btn-danger" type="submit">Xóa</button>
                        <br> <hr>
                        <a href="/"> Quay về trang chủ </a>
                    </form>
                </div>
<% include footer.ejs %>
